%btn {
   padding: 0.5rem 1rem;
   color: var(--white);
   border-radius: 5px;
   background: var(--background);
   transition: transform 0.5s;
   font-weight: 700;
 
   &:hover {
     transform: scale(0.92);
     background: linear-gradient(to right, var(--purple), var(--danger));
   }
 }
 .btn-primary {
   @extend %btn;
 }
 